
body{
    
    background: linear-gradient(to bottom, skyblue, lightpink);
    background-repeat: no-repeat;
    background-attachment: fixed ;
    }
    h1{
         color: lightcyan;
         text-shadow:-5px 0px 0px black;
         font-family: "press Start 2P", "consolas", sans-serif;
         border-top: solid;
         border-bottom: solid; 
        padding: 10px;
        
    }
    h2{
        font-size: 50px;
        border-radius: 10px;
        border: 5px solid;
        text-align: center;
    }
#p1{
    font-size: 25px;
    border: solid;
    border-radius: 25px;
    padding: 10px;
}
#p2{
    font-size: 25px;
    border:solid;
    padding: 10px;
    border-radius: 25px;
    
}
button{
    font-size: 20px;
    border-radius: 25px;

}
button:hover{
    background-color: blue;
}   